/jdom-2.0.6-contrib.jar
/jdom-2.0.6-javadoc.jar
/jdom-2.0.6-junit.jar
/jdom-2.0.6-sources.jar
/jdom-2.0.6.jar
/logback-classic-1.2.3.jar
/logback-core-1.2.3.jar
/pivot-charts-2.0.4.jar
/pivot-core-2.0.4.jar
/pivot-web-2.0.4.jar
/pivot-web-server-2.0.4.jar
/pivot-wtk-2.0.4.jar
/pivot-wtk-terra-2.0.4.jar
/slf4j-api-1.7.25.jar
